<aside class="<%= pageGridItem %>sns">
  <ul class="sns__list">
    <li class="sns__item">
      <a class="sns__link" href="#">
        <img class="sns__image" src="images/logo-twitter.svg" alt="Twitter">
      </a>
    </li>

    <li class="sns__item">
      <a class="sns__link" href="#">
        <img class="sns__image" src="images/logo-facebook.svg" alt="Facebook">
      </a>
    </li>

    <li class="sns__item">
      <a class="sns__link" href="#">
        <img class="sns__image" src="images/logo-instagram.svg" alt="Instagram">
      </a>
    </li>
  </ul>
</aside>
