<div class="<%= pageGridItem %>heroHeader">
  <hgroup class="heroHeader__headingGroup en">
    <h1 class="heroHeader__heading">Casual</h1>

    <h2 class="heroHeader__subHeading">Outdoor Camping since 2001</h2>
  </hgroup>

  <figure class="heroHeader__figure">
    <img class="heroHeader__image"
      srcset="images/tent488.png 488w,
              images/tent976.png 976w,
              images/tent1464.png 1464w"
      sizes="(max-width: 767px) 302px,
             (max-width: 1217px) 40vw,
             (min-width: 1218px) 488px"
      src="images/tent.jpg"
      alt="写真：夜の黄色のテント">
  </figure>
</div><!-- /.heroHeader -->
